doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
  body
      div
        p dans header
        img(src='cid:users.banniere')
  block content
  block footer
    div
      p dans footer
      img(src='cid:users.footer')
